<h1><p>
  Author: <%= @message.author %>
</p></h1>

<p>
  <%= @message.content %>
</p>

<p>
  <%= @message.url %>
</p>

<p>
  <%= @message.created_at %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>

